.areasOfTeaching {
    position: relative;
    width: 900px;
    margin: 0 auto;
    @media screen and (max-width: 500px) {
        width: 90vw;
    }
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 44px;
    font-weight: 500;
    color: white;
    @media screen and (max-width: 500px) {
        font-size: 22px;
    }
}

.flexBox {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media screen and (max-width: 500px) {
        gap: 10px;
    }
}