@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  src: url("src/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  src: url("src/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  src: url("src/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  src: url("src/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-weight: 800;
  font-family: "Montserrat";
  src: url("src/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-weight: 900;
  font-family: "Montserrat";
  src: url("src/fonts/Montserrat-Black.ttf");
}
button {
  font: normal 22px "Montserrat";
  font-weight: 800;
}

body {
  background-color: #FFFBF5;
}

#mtuci_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.header {
  margin: 10px;
  text-align: center;
  font: normal 40px "Montserrat";
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 82%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 30px;
  gap: 10px;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 53px 1fr 53px 1fr 53px 1fr;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 0;
  gap: 53px;
  font: normal 22px "Montserrat";
  font-weight: 800;
}

.menu_button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 6px;
  width: 100%;
  height: 100px;
  padding: 30px 0 30px 0;
  border: 4px solid #0D0350;
  background-color: #332974;
  -webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3333333333);
          box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3333333333);
  color: white;
}
.menu_button:hover {
  opacity: 0.92;
  cursor: pointer;
  outline: none;
  border: 4px solid #293874;
}
.menu_button:focus-visible {
  border: 4px solid #293874;
  outline: none;
}
.menu_button:active {
  background-color: #0D0350;
  border: 4px solid #0D0350;
}

.exception {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 53px 1fr 53px 1fr;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0;
  gap: 53px;
  font: normal 22px "Montserrat";
  font-weight: 800;
}

.exceptionSecond {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 53px 1fr 53px 1fr 53px 1fr 53px 1fr;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px 0;
  gap: 53px;
  font: normal 22px "Montserrat";
  font-weight: 800;
}