@font-face {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  src: url("src/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  src: url("src/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  src: url("src/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  src: url("src/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  src: url("src/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  src: url("src/fonts/Montserrat-Black.ttf");
}
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  font: normal 24px "Montserrat";
  font-weight: 500;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  height: 100%;
  background-color: #fffefc;
}

header {
  position: sticky;
  top: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #332974;
  font: normal 30px "Montserrat";
  padding: 20px 60px;
  z-index: 100;
  border-radius: 0px 0px 16px 16px;
  margin-bottom: 16px;
}

.identify {
  color: whitesmoke;
  font-weight: 600;
  font-size: 25px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3529411765);
}

#mtuci_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.paragraph {
  margin: 10px;
  text-align: center;
  font: 500 40px "Montserrat";
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 82%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 30px;
  gap: 10px;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 53px 1fr 53px 1fr 53px 1fr;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 0;
  gap: 53px;
  font: normal 22px "Montserrat";
}

.menu_button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  height: 106px;
  padding: 10px 14px;
  border: 2px solid #0D0350;
  background-color: #FFF;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.231372549);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.231372549);
  color: #14102a;
}
.menu_button:hover {
  opacity: 0.92;
  cursor: pointer;
  outline: none;
  border: 3px solid #233786;
}
.menu_button:focus-visible {
  border: 4px solid #293874;
  outline: none;
}
.menu_button:active {
  background-color: rgba(34, 0, 255, 0.0666666667);
  border: 2px solid #0D0350;
}

.exception {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 53px 1fr 53px 1fr;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0;
  gap: 53px;
  font: normal 22px "Montserrat";
  font-weight: 800;
}

.exceptionFirst {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 53px 1fr 53px 1fr 53px 1fr;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 0;
  gap: 53px;
  font: normal 22px "Montserrat";
  font-weight: 800;
}

.exceptionSecond {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 53px 1fr 53px 1fr 53px 1fr 53px 1fr;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px 0;
  gap: 53px;
  font: normal 22px "Montserrat";
  font-weight: 800;
}

.developers {
  font-family: "Montserrat";
  color: rgba(0, 0, 0, 0.5215686275);
  margin-left: 60px;
}

.strong {
  font-weight: 600;
}

.kostil {
  margin-top: 22px;
  margin-bottom: 10px;
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .menu {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .exception {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .exceptionSecond {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .exceptionFirst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .kostil {
    margin-top: 10px;
  }
}
@media screen and (min-width: 610px) and (max-width: 900px) {
  .identify {
    font-size: 16px;
  }

  .menu {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .exception {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .exceptionSecond {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .exceptionFirst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .kostil {
    margin-top: 10px;
  }
}
@media screen and (min-width: 200px) and (max-width: 610px) {
  .identify {
    font-size: 12px;
  }

  .menu {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .exception {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .exceptionSecond {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .exceptionFirst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .paragraph {
    font-size: 20px;
    font-weight: 700;
  }

  .menu_button {
    font-size: 16px;
    height: 80px;
  }

  header {
    padding: 20px;
    display: none;
  }

  footer {
    font-size: 12px;
  }

  .developers {
    margin-left: 20px;
  }

  #mtuci_logo {
    margin-top: 20px;
  }

  .kostil {
    margin-top: 8px;
  }
}