.picture {
    height: 50vh;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    min-width: 100%; /* Минимальная ширина изображения на всю ширину экрана */
    min-height: 100%; /* Минимальная высота изображения на всю высоту экрана */
}

#picIt {
    background-image: url("/facultetIt.jpg");
}

#picCimk {
    background-image: url("/facultetCimk.jpg");
}

#picSis {
    background-image: url("/facultetSis.jpg");
}

#picKiib {
    background-image: url("/facultetKiib.jpg");
}

#picRit {
    background-image: url("/facultetRit.jpg");
}

#picMagZaoch {
    background-image: url("/magaZaoch.png");
}

#picMagOch {
    background-image: url("/magaOchn.jpg");
}

#picMagOchZaoch {
    background-image: url("/magaOchZaoch.jpg");
}

#picZaoch {
    background-image: url("/zaoch.png");
}

#picOchZaoch {
    background-image: url("/ochZaoch.png");
}

#picFastZaoch {
    background-image: url("/fastZaoch.png");
}