.button {
    padding: 0.5em 0.8em;
    height: 105px;
    text-align: center;
    border: 2px solid #372579;
    border-radius: 14px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.39);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    transition: 0.2s ease;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.button:active {
    transform: scale(1);
}