.buttonGrid2x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.buttonGrid3x3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.buttonFlex {
    display: flex;
    flex-wrap: wrap;
}

.buttonFlex button {
    flex: 1 1;
    min-width: 0; /* чтобы кнопки могли сжиматься */
    margin: 0.5em; /* отступ между кнопками */
}