#pictureIT {
    margin-top: 7.1vh;
    height: 50vh;
    background-image: url("/public/facultetIT.svg");
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%; /* Минимальная ширина изображения на всю ширину экрана */
    min-height: 100%; /* Минимальная высота изображения на всю высоту экрана */
}

