.main {
    max-width: 80vw;
    color: white;
}

.headerAccordion {
    text-align: center;
    margin: 10% 0 4%;
    font-size: 28px;
    font-weight: 500;
}

.header {
    font-weight: 600;
    font-size: 48px;
    position: relative;
    z-index: 10;
}

.description {
    text-align: justify;
    font-size: 24px;
    position: relative;
    z-index: 1;
}