.main {
    max-width: 80vw;
    color: white;
}

.headerAccordion {
    text-align: center;
    margin: 10% 0 4%;
    font-size: 28px;
    font-weight: 500;
    @media screen and (max-width: 500px) {
        font-size: 18px;
    }
}

.header {
    font-weight: 600;
    font-size: 32px;
    position: relative;
    z-index: 10;
    @media screen and (max-width: 500px) {
        font-size: 12px;
    }
}

.description {
    text-align: justify;
    font-size: 20px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 500px) {
        font-size: 12px;
    }
}