.header {
    top: 0;
    padding: 1.4vh 10vw;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    border-radius: 0 0 14px 14px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #FFF;
    z-index: 1;
    font-size: 22px;
    font-weight: 500;
}

.button {
    padding: 0 0.5vw;
}

.button:hover {
    transform: scale(1.05);
    transition: 0.1s ease;
}
