@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-weight: 800;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-weight: 900;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.ttf");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Montserrat";
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  height: 100%;
  background-color: #fffefc;
}

form {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

.stronger {
  font-weight: 500;
}

header {
  position: sticky;
  top: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 14px 14px 6px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #332974;
  font: normal 30px "Montserrat";
  font-weight: 800;
  z-index: 100;
  border-radius: 0px 0px 16px 16px;
}

#arrow-back {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  padding: 6px 16px;
  margin-left: 20px;
  background-color: #fff;
  border: 2px solid #0D0350;
  border-radius: 5px;
}
#arrow-back:hover {
  opacity: 0.92;
  cursor: pointer;
  outline: none;
}
#arrow-back:focus-visible {
  border: 4px solid #293874;
  outline: none;
}
#arrow-back:active {
  background-color: #f1eeff;
}

.back {
  width: 200px;
}

.upper {
  color: whitesmoke;
}

.inputText {
  font: normal 14px "Montserrat";
  font-weight: 600;
  margin-top: 25px;
  border-radius: 5px;
  padding: 5px;
}

.submitForm {
  font-weight: 500;
}

.third {
  border-radius: 6px;
  font-size: 12px;
  border: 3px solid #0D0350;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 16px;
  padding: 6px 16px;
  color: rgba(0, 0, 0, 0.6431372549);
  background-color: #fff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 30px;
  margin: 20px 20px;
  font-family: "Montserrat";
  gap: 1%;
}

.listQA {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 24px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.clue {
  position: sticky;
  top: 15%;
  word-break: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  background-color: #FFF;
  height: 1%;
  border: 1px solid #0D0350;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.questionForm {
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: normal 15px "Montserrat";
  font-weight: 800;
  width: 100%;
  text-align: center;
  background-color: #223272;
  color: whitesmoke;
  padding: 15px;
  cursor: pointer;
  border-radius: 0 0 6px 6px;
  border: none;
}
.questionForm:hover {
  opacity: 0.92;
  cursor: pointer;
  outline: none;
}
.questionForm:focus-visible {
  border: 4px solid #293874;
  outline: none;
}
.questionForm:active {
  background-color: #53499b;
}

.clueHeader {
  word-break: break-word;
  background-color: #CBC3FF;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  border-bottom: 1px solid #0D0350;
  border-radius: 6px 6px 0 0;
}

.sidebar {
  font-weight: 500;
  overflow: hidden;
}

.collapsible {
  max-width: 100%;
  overflow: hidden;
  font-weight: 500;
}
.collapsible label {
  position: relative;
  background-image: url(arrow.svg);
  background: rgba(195, 202, 255, 0.3764705882);
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
  border: 2px solid #0D0350;
  font-weight: 700;
}
.collapsible:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.31s ease;
  transition: all 0.31s ease;
}
.collapsible input:checked ~ .collapsible-text {
  max-height: 2000px;
  padding-bottom: 15px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 1;
  top: 0;
  padding: 15px;
  margin-bottom: 5px;
}
.collapsible input:checked ~ .collapsible-text p {
  margin-top: 0;
}
.collapsible input {
  display: none;
}
.collapsible input:checked + label:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.collapsible-text {
  position: relative;
  max-height: 1px;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 10px;
  line-height: 1.4;
  top: -100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

p {
  margin: 5px;
}

.strong {
  font-weight: 700;
}

.kursiv {
  font-style: italic;
}

.podcherk {
  text-decoration: underline;
}

.red {
  color: red;
}

.collapsibleBar {
  max-width: 100%;
  overflow: hidden;
  font-weight: 500;
}
.collapsibleBar label {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 2px;
  -webkit-padding-start: 22px;
          padding-inline-start: 22px;
  z-index: 1;
  font-weight: 500;
}
.collapsibleBar:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.31s ease;
  transition: all 0.31s ease;
}
.collapsibleBar:hover {
  background-color: rgba(203, 195, 255, 0.2823529412);
}
.collapsibleBar input:checked ~ .collapsible-textBar {
  max-height: 2000px;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  opacity: 1;
  top: 0;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.collapsibleBar input:checked ~ .collapsible-textBar p {
  margin-top: 0;
}
.collapsibleBar input {
  display: none;
}
.collapsibleBar input:checked + label:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.collapsible-textBar {
  position: relative;
  max-height: 1px;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  top: -100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebarBar {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  overflow: hidden;
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .upper {
    font-size: 24px;
    padding-top: 5px;
  }
}
@media screen and (min-width: 610px) and (max-width: 900px) {
  .upper {
    font-size: 16px;
    padding-top: 8px;
    margin-right: 60px;
  }

  .container {
    display: block;
  }

  .listQA {
    width: 92%;
  }

  .clue {
    width: 100%;
    margin-top: 20px;
  }

  .third {
    display: none;
  }
}
@media screen and (min-width: 200px) and (max-width: 610px) {
  .upper {
    font-size: 12px;
    padding-top: 10px;
    margin-right: 60px;
  }

  .container {
    display: block;
  }

  .listQA {
    width: 89%;
  }

  .clue {
    width: 100%;
    margin-top: 20px;
  }

  .third {
    display: none;
  }

  header {
    padding-bottom: 15px;
  }

  #arrow-back {
    margin-top: 7px;
    width: 80%;
  }
}