* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
    background: lightgray;        /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: gray;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    /*border: 3px solid orange;  !* padding вокруг плашки *!*/
}

.container {
    /*max-width: 1200px;*/
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

button {
    border: 0;
    font-weight: inherit;
    font-size: inherit;
    background: inherit;
    cursor: pointer;
    color: #000000;
}

a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: inherit; /* Наследуем цвет текста */
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.App {
}

.window {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 120vh;
    max-width: 80vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 500px) {
        max-width: 90vw;
    }
}

.noHeightLimit {
    height: auto;
}

.noHeightLimitMobile {
    @media screen and (max-width: 500px) {
        height: auto;
        margin-top: 4vh;
    }
}

.arrowUp {
    opacity: 0;
    position: fixed;
    bottom: 5%;
    right: 5%;
    transition: opacity 0.3s ease;
    @media screen and (max-width: 500px) {
        height: 40px;
    }
}



#picture {
    background-image: url("/mainPicture.jpg");
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%; /* Минимальная ширина изображения на всю ширину экрана */
    min-height: 100%; /* Минимальная высота изображения на всю высоту экрана */
}

.columns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}