* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    /*max-width: 1200px;*/
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

button {
    border: 0;
    font-weight: inherit;
    font-size: inherit;
    background: inherit;
    cursor: pointer;
}

.App {
    text-align: justify;

}

.window {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 80vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.arrowUp {
    position: fixed;
    bottom: 5%;
    right: 5%;
}



#picture {
    background-image: url("/public/mainPicture.jpg");
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%; /* Минимальная ширина изображения на всю ширину экрана */
    min-height: 100%; /* Минимальная высота изображения на всю высоту экрана */
}